<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yearcon.shop.mapper.ShopShippingAddressMapper">
    
	<sql id="shopShippingAddressColumns">
		a.id AS "id",
		a.customer_id AS "customerId",
		a.province AS "province",
		a.city AS "city",
		a.area AS "area",
		a.complete_address AS "completeAddress",
		a.postcode AS "postcode",
		a.name AS "name",
		a.mobile AS "mobile",
		a.is_default AS "isDefault"
	</sql>
	
	<sql id="shopShippingAddressJoins">
	</sql>
	
    
	<select id="get" resultType="ShopShippingAddress" >
		SELECT 
			<include refid="shopShippingAddressColumns"/>
		FROM shop_shipping_address a
		<include refid="shopShippingAddressJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="ShopShippingAddress" >
		SELECT 
			<include refid="shopShippingAddressColumns"/>
		FROM shop_shipping_address a
		<include refid="shopShippingAddressJoins"/>
		<where>
			
			<if test="name != null and name != ''">
				AND a.name LIKE 
					<if test="dbName == 'oracle'">'%'||#{name}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{name}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{name},'%')</if>
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="ShopShippingAddress" >
		SELECT 
			<include refid="shopShippingAddressColumns"/>
		FROM shop_shipping_address a
		<include refid="shopShippingAddressJoins"/>
		<where>
			
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO shop_shipping_address(
			id,
			customer_id,
			province,
			city,
			area,
			complete_address,
			postcode,
			name,
			mobile,
			is_default
		) VALUES (
			#{id},
			#{customerId},
			#{province},
			#{city},
			#{area},
			#{completeAddress},
			#{postcode},
			#{name},
			#{mobile},
			#{isDefault}
		)
	</insert>
	
	<update id="update">
		UPDATE shop_shipping_address SET 	
			customer_id = #{customerId},
			province = #{province},
			city = #{city},
			area = #{area},
			complete_address = #{completeAddress},
			postcode = #{postcode},
			name = #{name},
			mobile = #{mobile},
			is_default = #{isDefault}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM shop_shipping_address
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE shop_shipping_address SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="ShopShippingAddress" statementType="STATEMENT">
		select * FROM shop_shipping_address  where ${propertyName} = '${value}'
	</select>
	
</mapper>