/* CSS Document */


/* author:cyy */


/*css reset*/

* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
}

body {
    overflow: -Scroll;
    overflow-x: hidden;
    background-color: #f5f5f5;
}

body {
    font-family: "微软雅黑";
}

/*头部区域*/
#header {
    text-align: center;
    background: #03A9F4;
}
#header h4 {
    width: 100%;
    color: #fff;
}
/*移动端*/

html {
    font-family: sans-serif;
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    /* 1 */
    vertical-align: baseline;
    /* 2 */
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

a {
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    /* 1 */
    font: inherit;
    /* 2 */
    margin: 0;
    /* 3 */
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],

/* 1 */

input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
    cursor: pointer;
    /* 3 */
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    /* 2 */
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    /* 1 */
    padding: 0;
    /* 2 */
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

td,
th {
    padding: 0;
}

.daytwo::-webkit-input-placeholder {
    color: #333;
}

.daytwo:-moz-placeholder {
    color: #333;
}

.daytwo::-moz-placeholder {
    color: #333;
}

.daytwo:-ms-input-placeholder {
    color: #333;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    border: 0
}

ul {
    list-style: none;
}

input,
textarea,
select,
option,
button {
    font-family: "microsoft yahei";
}

.clear {
    clear: both;
}

a {
    text-decoration: none;
    outline: none;
}

a:hover {
    outline: none;
}

input[type="button"],
input[type="submit"],
input[type="text"] {
    -webkit-appearance: none;
    border-radius: 0;
}

input,
label {
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}

a,
button,
textarea,
select {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}


/* 1.去除android a/button/input标签被点击时产生的边框 2.去除ios a标签被点击时产生的半透明灰色背景 */

textarea {
    resize: none;
}


/*禁止改变大小*/


/*解决firefox按钮文字难以垂直居中问题*/

input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none;
    padding: 0;
}

input,
textarea,
select,
option,
button,
form,
fieldset {
    margin: 0;
    padding: 0;
    border-width: 1px;
    outline: none;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -o-box-sizing: content-box;
    -ms-box-sizing: content-box;
    box-sizing: content-box;
}

.opa2 {
    opacity: .2;
    -ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=20);
    filter: alpha(opacity=20);
    -moz-opacity: .2;
    -khtml-opacity: .2;
}

.opa3 {
    opacity: .3;
    -ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=30);
    filter: alpha(opacity=30);
    -moz-opacity: .3;
    -khtml-opacity: .3;
}

.opa4 {
    opacity: .4;
    -ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=40);
    filter: alpha(opacity=40);
    -moz-opacity: .4;
    -khtml-opacity: .4;
}

.opa5 {
    opacity: .5;
    -ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=50);
    filter: alpha(opacity=50);
    -moz-opacity: .5;
    -khtml-opacity: .5;
}

.opa6 {
    opacity: .6;
    -ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=60);
    filter: alpha(opacity=60);
    -moz-opacity: .6;
    -khtml-opacity: .6;
}

.opa7 {
    opacity: .7;
    -ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=70);
    filter: alpha(opacity=70);
    -moz-opacity: .7;
    -khtml-opacity: .7;
}

.opa8 {
    opacity: .8;
    -ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=80);
    filter: alpha(opacity=80);
    -moz-opacity: .8;
    -khtml-opacity: .8;
}

.over {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
}

.over2 {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.over3 {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.over4 {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.fl {
    float: left;
    display: inline;
}

.fr {
    float: right;
    display: inline;
}

.clearfloat:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0
}

.clearfloat {
    zoom: 1
}

.clear {
    clear: both;
    zoom: 1;
}

.dis_inBlock {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.dis_block {
    display: block;
}

@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.woff')format('woff');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.icon-shouye:before {
    content: "\e62b";
}

.icon-dianying:before {
    content: "\e61d";
}

.icon-fanhui:before {
    content: "\e631";
}

.icon-loucengfushi:before {
    content: "\e61e";
}

.icon-jiantou:before {
    content: "\e605";
}

.icon-duihao:before {
    content: "\e606";
}

.icon-jianhao:before {
    content: "\e62e";
}

.icon-erweima:before {
    content: "\e607";
}

.icon-sousuo:before {
    content: "\e623";
}

.icon-bianji:before {
    content: "\e637";
}

.icon-gouwuche:before {
    content: "\e629";
}

.icon-jiahao:before {
    content: "\e62f";
}

.icon-jiantou1:before {
    content: "\e635";
}

.icon-xihuan:before {
    content: "\e616";
}

.icon-yonghuming:before {
    content: "\e600";
}

.icon-remenhuodong:before {
    content: "\e617";
}

.icon-bbqdangao:before {
    content: "\e61f";
}

.icon-meishi:before {
    content: "\e620";
}

.icon-xiala:before {
    content: "\e630";
}

.icon-shouji:before {
    content: "\e621";
}

.icon-huiyuan:before {
    content: "\e608";
}

.icon-jifen:before {
    content: "\e609";
}

.icon-dizhi:before {
    content: "\e622";
}

.icon-jiahao1:before {
    content: "\e636";
}

.icon-weixinzhifu:before {
    content: "\e638";
    color: #00c800;
}

.icon-fenxiang:before {
    content: "\e62a";
}

.icon-dizhi1:before {
    content: "\e618";
}

.icon-erweima1:before {
    content: "\e60a";
}

.icon-iconfontcaidan:before {
    content: "\e628";
}

.icon-p-shouji:before {
    content: "\e602";
}

.icon-lajixiang:before {
    content: "\e632";
}

.icon-dizhi2:before {
    content: "\e62c";
}

.icon-shenfenzheng:before {
    content: "\e603";
}

.icon-prev:before {
    content: "\e60b";
}

.icon-iconfontxingming:before {
    content: "\e60c";
}

.icon-zhifubao:before {
    content: "\e639";
    color: #00a0e9;
}

.icon-yanzhengma:before {
    content: "\e60d";
}

.icon-mima:before {
    content: "\e601";
}

.icon-tuijianrenyaoqing:before {
    content: "\e604";
}

.icon-shangcheng:before {
    content: "\e619";
}

.icon-xiala1:before {
    content: "\e634";
}

.icon-xihuan1:before {
    content: "\e61a";
}

.icon-xihuan2:before {
    content: "\e61b";
}

.icon-chahao:before {
    content: "\e633";
}

.icon-yinxingqia:before {
    content: "\e63a";
    color: #f7c805;
}

.icon-jifen1:before {
    content: "\e60e";
}

.icon-icon04:before {
    content: "\e62d";
}

.icon-jifen2:before {
    content: "\e60f";
}

.icon-kefu:before {
    content: "\e610";
}

.icon-yanzheng:before {
    content: "\e611";
}

.icon-duihao1:before {
    content: "\e61c";
}

.icon-yue:before {
    content: "\e612";
}

.icon-jiudian:before {
    content: "\e624";
}

.icon-ktv:before {
    content: "\e625";
}

.icon-xiuxianyule:before {
    content: "\e626";
}

.icon-kefu1:before {
    content: "\e613";
}

.icon-jifen3:before {
    content: "\e614";
}

.icon-kefu2:before {
    content: "\e615";
}

.icon-jianshen:before {
    content: "\e627";
}

.box-s {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    font-size: 10px
}

@media screen and (min-width:321px) and (max-width:375px) {
    html {
        font-size: 11px
    }
}

@media screen and (min-width:376px) and (max-width:414px) {
    html {
        font-size: 12px
    }
}

@media screen and (min-width:415px) and (max-width:639px) {
    html {
        font-size: 15px
    }
}

@media screen and (min-width:640px) and (max-width:719px) {
    html {
        font-size: 20px
    }
}

@media screen and (min-width:720px) and (max-width:749px) {
    html {
        font-size: 22.5px
    }
}

@media screen and (min-width:750px) and (max-width:799px) {
    html {
        font-size: 23.5px
    }
}

@media screen and (min-width:800px) {
    html {
        font-size: 25px
    }
}


/*header*/

.logo {
    width: 30%;
}

.logo img {
    max-width: 192px;
    width: 100%;
    max-height: 46px;
}

.warp {
    padding-top: 0rem;
    padding-bottom: 1.9rem;
}

.warptwo {
    padding-bottom: 3.7rem;
}

.warpthree {
    padding-bottom: 0;
}


/*页面固定定位样式*/

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.fixed-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;
}

.fixed-cont {
    margin-top: 15%;
    margin-bottom: 20%;
}


/*顶部和底部都固定*/

.fixed-conta {
    margin-top: 15%;
}


/*顶部固定，底部不固定*/

.fixed-contb {
    margin-bottom: 20%;
}


/*顶部不固定，底部固定*/

/*头部*/
.mui-bar-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    font-size: .36rem;
}
.mui-bar-nav .iconfont {
    font-size: .6rem;
    display: inline-block;
    color: #fff;
}
.mui-bar-nav .btn {
    position: relative;
    z-index: 11;
    display: block;
    color: #525252;
    font-size: .5rem;
}
.top-sch-box {
    height: 0.9rem;
    margin: 0 .3rem;
    padding: 0 .3rem;
    font-size: .36rem;
    color: #999999;
    background-color: #e6e6e6;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.flex-col {
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    width: .1px;
}
.centerflex {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.top-sch-box .fdj {
    color: #979797;
    font-size: .4rem;
    float: left;
    margin-top: -0.4rem;
}

.top-sch-box .sch-txt {
    width: 100%;
    padding: 0 10px;
    border: none;
    height: .9rem;
    font-size: .4rem;
    background-color: #e6e6e6;
}

/*底部*/

.page-footer {
    width: 100%;
    height: 1.5rem;
    background-color: #fff;
    border-top: 1px solid #dfdfdf;
    position: fixed;
    bottom: 0;
    left: 0;
}

.page-footer ul {
    width: 100%;
    background-color: #fafafa;
}

.page-footer ul li {
    float: left;
    width: 25%;
    text-align: center;
    padding: 2% 0 2%;
}

.page-footer ul li a {
    width: 100%;
    display: block;
}

.page-footer ul .active a p {
    color: #f44623;
    margin-bottom: 0;
}

.page-footer ul .active {
    width: 25%;
}

.page-footer ul li img {
    width: 25%;
}

.page-footer ul li p {
    font-size: .4rem;
    color: #333;
    margin-top: 3%;
}

.page-footer ul li i {
    font-size: .5rem;
    color: #60636c;
}

.page-footer ul .active i {
    color: #f44623;
}



div.slide-mask {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    display: none;
}

aside.slide-wrapper {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    bottom: 0;
    width: 70%;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

aside.slide-wrapper > div {
    background-color: #343434;
    min-height: 100%;
}

aside.slide-wrapper.moved {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

aside.slide-wrapper li > a {
    padding: 5%;
    border-top: 1px solid #4d4d4d;
    border-bottom: 1px solid #262626;
    font-size: .5rem;
    display: block;
    color: #fff;
}

aside.slide-wrapper li.current > a {
    background-color: #262626;
}
